:root {
  font-family: 'Inter', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #f6f7ff;
  background-color: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
}

#root {
  width: 100%;
  height: 100%;
  background: transparent;
}
